@{
    ViewBag.Title = "Home Page";
}

<div>
    <h2>Welcome to Northwind DataBase.</h2>
</div>
<div>
    <h3>@Html.ActionLink("GetMethod Api", "Index", "Api")</h3>
    <p>Ve a ver todos los personajes de la serie Rick and Morty!</p>
</div>
<div>
    <h2>@Html.ActionLink("Categories from WEBAPI", "Index", "CategoriesWebApi")</h2>
</div>
